<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <form action="/board/write" method="post">
        <ul>
            <li>
                제목
                <input type="text" name="subject">
            </li>
            <li>
                작성자
                <input type="text" name="name">
            </li>
            <li>
                내용
                <textarea name="content" cols="30" rows="10"></textarea>
            </li>
        </ul>
        <input type="submit" value="글쓰기">
    </form>
</body>
</html>