<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>번호</td>
            <td>목록</td>
            <td>작성자</td>
            <td>글쓰기</td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/board/view?name=sieun">목록</a></td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
</body>
</html>