<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <form action="/board/write" method="post">
        <ul>
            <li>
                내용
                <input type="submit" name="title">
            </li>
            <li>
                수정하기
                <input type="submit" name="name">
            </li>
        </ul>
    </form>
</body>
</html>